#combined-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}

.section {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.maximpact-label {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
.maximpact-checkbox {
  width: 24px;
  height: 24px;
  accent-color: #ff0000; /* Bright red tick (modern browsers only) */
  transform: scale(1.5);  /* Fallback for browsers that don't support accent-color */
  cursor: pointer;
  border: 2px solid #444;
}

.tag-existing {
  border: 2px solid blue;
  background-color: #E0D4F7;
  color: blue;
}

.tag-new {
  border: 2px solid red;
  background-color: #D6E9FF;
  color: red;
}

#streamProcessing {
    background-color: #f9f9f9;
}

#importTable {
    background-color: #f1f1f1;
}


#file-info-table .order {
    width: 60px;  /* Ensures only 2-digit integers fit */
}

/* Optional: Adjust dropdown width for stream */
#file-info-table .stream {
    width: 120px;
}
body {
			margin: 0;
			padding: 0;
			overflow: auto;
			height: 100%;
			max-height: 100%;
			font-family:Arial, Helvetica, sans-serif;
			line-height: 1.5em;
		}


		#main {
			break-before: always;
			position: fixed;
			top: 110px;
			right : 240px;
			left: 20px;
			bottom: 10px; /* Set this to the height of the footer */
			overflow-y: auto;
			background: white;
		}

		#header {
			z-index: 10;
			position: fixed;
			top: 0;
			right : 230px;
			left: 20px;
			height: 100px;
			overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
			background: white;
		}

		#footer {
			z-index: 10;
			position: fixed;
			bottom: 0;
			right : 230px;
			left: 20px;
			height: 100px;
			overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
			background: white;
		}

#mapwin {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0px;
	width: 1200px;
}

#tabletitle {
position: absolute;
height: 14px;
width: 1200px;
background: white;
left: 0;
bottom: 235px;
font-weight: bold;
font-size: 1.5em;
display: flex;
align-items: center; /* vertically align items */
gap: 1rem;
}

#selectedTitle {
  font-weight: bold;
}

#tableSelector {
  padding: 0.3rem;
  font-size: 1rem;
}

#datawin {
	z-index: 12;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 230px;
	width: 1200px;
	overflow: scroll;
	background: white;
}

		#nav {
      z-index: 12;
			position: absolute;
			overflow: scroll;
			top: 0;
			right: 0;
			width: 310px;
			background: #DAE9BC;
	    display: inline-block;
	    color: black;
	    font-weight: normal;
	    padding : 5px 5px ;
	    font-size: 1em;
	    border-radius: 3px;
	    border-color: indigo;
	    cursor: pointer;
	    opacity: 0.8;
			height: 800px;
		}
#chartContainer {
  width: 250px;
  height: 250px;
  position: relative;
}

#streamChart {
  display: block;
  width: 100%;
  height: 100%;
}
    #logwin {
			width: 100%;
	    height: 200px;  /* Adjust height as needed */
	    background: #111;
	    color: #0f0; /* Green text for a terminal look */
	    padding: 5px 5px;
	    font-family: monospace;
	    border: 1px solid #444;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			z-index: 11;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 310px;
			font-weight: normal;

		  font-size: 1em;
		  border-radius: 3px;
		  border-color: indigo;
		  cursor: pointer;
		  opacity: 0.8;
    }

		.innertube {
			margin: 5px; /* Provides padding for the content */
		}

		p {
			color: #555;
		}

		nav ul {
			list-style-type: square;
			margin: 0;
			padding: 0;
		}

		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}
.centred {
	text-align: center;
}
.flashes {
	font-color: red;
	font-weight: bold;
	text-align: left;
}

.tab-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.tab-button.active-tab {
  border: 2px solid #007bff;
  border-bottom: none;
  background-color: #ffffff;
  font-weight: bold;
  color: #007bff;
}
.election-tab {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: bold;
}

.election-tab:hover {
  background-color: #e7e7e7;
}

.election-tab.active {
  background-color: #ffffff;
  border-bottom: 2px solid white;
  border-color: #ccc #ccc white;
}

.tab-item {
  position: relative;
}

.delete-tab-btn {
  position: absolute;
  top: 2px;
  right: 6px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  display: none; /* hidden by default */
}

.tab-item:hover .delete-tab-btn {
  display: inline; /* only show on hover */
}

.text-wrapper {
    width: 200px; /* set a width for the wrapping container */
    word-wrap: normal; /* ensures the text wraps to the next line if it overflows the container */
}

.lefted {
	text-align: left;
	padding-left : 5px;
}

.leftedmerge {
	text-align: left;
	padding-left : 5px;
   border-right: none;
   white-space: nowrap;
}

.righted {
	text-align: right;
	padding-right : 5px;

}

input.right-cropped {
  text-align: right;
  direction: rtl;
  unicode-bidi: plaintext;
}

.rightedmerge {
	text-align: right;
	padding-right : 5px;
  border-left: none;
}

.coded {
	text-align: center;
	padding-right : 10px;
}

.newpage {
  page-break-before: always;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 30px;
  position: absolute;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.mapwardname {
  color: yellow;
  font-size: 1em
  font-weight: bold;
  font-size: 100%;
  line-height: 2;
}

.maptitle {
  color: darkgray;
  font-size: 2em
  font-weight: bold;
  font-size: 100%;
  line-height: 3;
  text-align: center;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 0 0 ;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  bottom: 0;
  right: 40;
  width: 100px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  background-color : white;
  position: relative;
  right: 30px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 300px;
}

.login-container {
	position: absolute;
  width: 100%;
  height: 100%
  max-height: 400px;
  z-index: 15;
  top: 50%;
  left: 50%;
	border-radius: 8pt;
  margin: -250px 0 0 -250px;
	margin: 20;
  max-width: 600px;
  padding: 10px;
  background-color: #00bed6;
	font-family 'Franklin Gothic Medium', 'Arial Narrow';
}

.logentry {
	height :2em;
	font-size:2em;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

table {
	page-break-inside: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-spacing:10;
  margin-left: 10px;
}

tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

table thead {
   	display:table-header-group;
   	font-weight: bold;
}

tfoot {
        display: table-footer-group;
				font-weight: bold;
}

table tr td {
	page-break-inside: avoid;
	font-size: 12pt;
  font-family:'Arial',Times,serif;
	border:1px solid navy;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#datawin #datawin  td:nth-child(2), #datawin  th:nth-child(2),#datawin  td:nth-child(3), #datawin  th:nth-child(3),#datawin  td:nth-child(4), #datawin  th:nth-child(4),#datawin  td:nth-child(5), #datawin  th:nth-child(5),
#datawin  td:nth-child(6), #datawin  th:nth-child(6),#datawin  td:nth-child(7), #datawin  th:nth-child(7),#datawin  td:nth-child(8), #datawin  th:nth-child(8),#datawin  td:nth-child(9), #datawin  th:nth-child(9),
#datawin  td:nth-child(10), #datawin  th:nth-child(10),#datawin  td:nth-child(11), #datawin  th:nth-child(11),#datawin  td:nth-child(12), #datawin  th:nth-child(12),#datawin  td:nth-child(13), #datawin  th:nth-child(13),
 { /* 2-13 columns */
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    overflow: hidden;
    white-space: nowrap; /* Prevents text from wrapping */
}

.er-table {
  border-collapse: collapse;
  width: 95%;
  max-width: 1200px; /* optional, for consistency */
  margin: 20px auto;
  table-layout: fixed;  /* 🔧 forces column widths to respect your percentages */
}
th, td {
border: 1px solid #aaa;
padding: 8px;
text-align: center;
overflow: hidden;         /* 👈 prevents content from breaking the layout */
text-overflow: ellipsis;  /* 👈 adds ... if content too long */
white-space: nowrap;      /* 👈 prevents wrapping; use 'normal' if you want wrap */
}
  /* Column width by percentage */
.er-table th:nth-child(1),
.er-table td:nth-child(1) {
width: 5%;
}

.er-table th:nth-child(2),
.er-table td:nth-child(2) {
width: 25%;
}

.er-table th:nth-child(3),
.er-table td:nth-child(3) {
width: 5%;
}

.er-table th:nth-child(4),
.er-table td:nth-child(4) {
width: 15%;
}

.er-table th:nth-child(5),
.er-table td:nth-child(5) {
width: 15%;
}

.er-table th:nth-child(6),
.er-table td:nth-child(6) {
width: 10%;
}

.er-table th:nth-child(7),
.er-table td:nth-child(7) {
width: 25%;
}
tr:has(.selectRow:checked) > td {
  background-color: #ccc;
}

/*! Guilfoss Design System 1.21 */
:root {
    --guil-g-color-border-base-1: #c9c9c9;
    --guil-g-color-border-base-2: #aeaeae;
    --guil-g-color-border-base-3: #939393;
    --guil-g-color-border-base-4: #747474;
 }

/*! normalise.css v3.0.2 | MIT License | git.io/normalise */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display:block
}


a {
    background-color:transparent
}

a:active, a:hover {
    outline:0
}

abbr[title] {
    border-bottom:1px dotted
}

b, strong {
    font-weight:700;
    color: gray
}

dfn {
    font-style:italic
}

h1 {
    position : relative;
    text-align : center;
		font-size: 3em;
    font-weight: bold;
    margin: .67em 0
}

mark {
    background: #ff0;
    color:#000
}

small {
    font-size:80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align:baseline
}

sup {
    top:-.5em
}

sub {
    bottom:-.25em
}

img {
    border:0
}

svg:not(:root) {
    overflow:hidden
}

figure {
    margin:1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height:0
}

pre {
    overflow:auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size:1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin:0
}

button {
    overflow:visible
}

button, select {
    text-transform:none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor:pointer
}

button[disabled], html input[disabled] {
    cursor:default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding:0
}

input {
    line-height:normal
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height:auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding:.35em .625em .75em
}

legend {
    border: 0;
    padding:0
}

textarea {
    overflow:auto
}

optgroup {
    font-weight:700
}

tr {
position: relative;
}


td, th {
    color: indigo;
    padding:0;
		font-size: 12pt;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

::-webkit-input-placeholder {
    color: var(--guil-g-color-neutral-base-50, #747474);
    font-weight: 400;
    opacity:1
}

::-moz-placeholder {
    color: var(--guil-g-color-neutral-base-50, #747474);
    font-weight: 400;
    opacity:1
}

:-ms-input-placeholder {
    color: var(--guil-g-color-neutral-base-50, #747474);
    font-weight: 400;
    opacity:1
}

::-ms-input-placeholder {
    color: var(--guil-g-color-neutral-base-50, #747474);
    font-weight: 400;
    opacity:1
}

::placeholder {
    color: var(--guil-g-color-neutral-base-50, #747474);
    font-weight: 400;
    opacity:1
}

::-moz-selection {
    background: var(--guil-g-color-brand-base-90, #d8e6fe);
    text-shadow: none;
    color:var(--guil-g-color-neutral-base-10, #181818)
}

::selection {
    background: var(--guil-g-color-brand-base-90, #d8e6fe);
    text-shadow: none;
    color:var(--guil-g-color-neutral-base-10, #181818)
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 10pt;
    line-height: 1.25;
    background: #eef4ff;
    color: var(--guil-g-color-neutral-base-10, #181818);
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}


dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, {
	margin: 0;
    padding:20 20;
}

dd, figure {
    margin:0
}

abbr[title] {
    text-decoration:none
}

abbr[title], fieldset, hr {
    border:0
}

hr {
    padding:0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: 1em
}


ol, ul {
    list-style:none;
    margin-bottom: 2px;
}

a {
    color: #0176d3;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    transition:color .1s linear
}

a:focus, a:hover {
    text-decoration: underline;
    color:#014486
}

a:active {
    color:#014486
}

a:focus-visible {
    outline-color:var(--guil-g-color-palette-blue-50, #0176d3)
}

a, button {
    cursor:pointer
}

dfn, strong {
    font-weight:700
}

mark {
    background-color: var(--guil-g-color-palette-yellow-90, #fff03f);
    color:var(--guil-g-color-neutral-base-10, #181818)
}

abbr[title] {
    cursor:help
}

input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

input[type=text] {
    border: none;
}
caption, td, th {
    text-align:center;

}

h2 {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 8pt%;
	font-weight: bold;
}

.guil-button--small, .guil-button_small {
    line-height: 1.75rem;
    min-height:2rem
}

.guil-button {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--guil-c-button-spacing-block-start, var(--sds-c-button-spacing-block-start, 0)) var(--guil-c-button-spacing-inline-end, var(--sds-c-button-spacing-inline-end, 0)) var(--guil-c-button-spacing-block-end, var(--sds-c-button-spacing-block-end, 0)) var(--guil-c-button-spacing-inline-start, var(--sds-c-button-spacing-inline-start, 0));
    background: none;
    background-color: var(--guil-c-button-color-background, var(--sds-c-button-color-background, transparent));
    background-clip: border-box;
    border: var(--guil-c-button-sizing-border, var(--sds-c-button-sizing-border, 1px)) solid var(--guil-c-button-color-border, var(--sds-c-button-color-border, transparent));
    border-radius: var(--guil-c-button-radius-border, var(--sds-c-button-radius-border, .25rem));
    -webkit-box-shadow: var(--guil-c-button-shadow, var(--sds-c-button-shadow));
    box-shadow: var(--guil-c-button-shadow, var(--sds-c-button-shadow));
    line-height: var(--guil-c-button-line-height, var(--sds-c-button-line-height, 1.875rem));
    text-decoration: none;
    color: var(--guil-c-button-text-color, var(--sds-c-button-text-color, #0176d3));
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none
}

.guil-radio .guil-radio--faux, .guil-radio .guil-radio_faux {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    border: 1px solid var(--guil-c-radio-color-border, var(--sds-c-radio-color-border, var(--guil-g-color-border-base-4, #c9c9c9)));
    border-radius: 50%;
    background: none;
    background-color: var(--guil-c-radio-color-background, var(--sds-c-radio-color-background, var(--guil-g-color-neutral-base-100, #fff)));
    -webkit-box-shadow: var(--guil-c-radio-shadow, var(--sds-c-radio-shadow));
    box-shadow: var(--guil-c-radio-shadow, var(--sds-c-radio-shadow));
    -webkit-transition: border .1s linear, background-color .1s linear;
    transition:border .1s linear, background-color .1s linear
}

.guil-radio [type=radio]:checked + .guil-radio__label .guil-radio_faux, .guil-radio [type=radio]:checked + .guil-radio_faux, .guil-radio [type=radio]:checked ~ .guil-radio--faux, .guil-radio [type=radio]:checked ~ .guil-radio_faux {
    border-color: var(--guil-c-radio-color-border-checked, var(--sds-c-radio-color-border-checked, var(--sds-c-radio-color-border, var(--guil-g-color-border-base-4, #c9c9c9))));
    background: none;
    background-color:var(--guil-c-radio-color-background-checked, var(--sds-c-radio-color-background-checked, var(--sds-c-radio-color-background, var(--guil-g-color-neutral-base-100, #fff))))
}

.guil-radio [type=radio]:checked + .guil-radio__label .guil-radio_faux:after, .guil-radio [type=radio]:checked + .guil-radio_faux:after, .guil-radio [type=radio]:checked ~ .guil-radio--faux:after, .guil-radio [type=radio]:checked ~ .guil-radio_faux:after {
    width: .5rem;
    height: .5rem;
    content: "";
    position: absolute;
    top: 50%;
    /*! @noflip */
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background: none;
    background-color:var(--guil-c-radio-mark-color-foreground, var(--sds-c-radio-mark-color-foreground, #0176d3))
}

 .guil-radio [type=radio]:focus ~ .guil-radio_faux {
    border-color: var(--guil-c-radio-color-border-focus, var(--guil-c-radio-color-border-focus, var(--guil-g-color-border-base-4, #c9c9c9)));
    -webkit-box-shadow: var(--guil-c-radio-shadow-focus, var(--sds-c-radio-shadow-focus, var(--_guil-g-shadow-outset-focus, 0 0 3px #0176d3)));
    box-shadow: var(--guil-c-radio-shadow-focus, var(--sds-c-radio-shadow-focus, var(--_guil-g-shadow-outset-focus, 0 0 3px #0176d3)));
    outline:0
}


.guil-radio_button-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid var(--guil-g-color-border-base-4, #e5e5e5);
    border-radius:.25rem
}

.SAVE {
width: 14 rem;
height: 3 rem;
display: inline-block;
}

.SEND {
width: 6.5rem;
height: 1.5rem;
display: inline-block;
}

.guil-radio_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    border-radius: 0;
    background-clip:padding-box
}

.guil-action_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    border-radius: 0;
    background-clip:padding-box
		width: 100px;
}

.guil-action--faux, .guil-action_faux {
    width: 6rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    border: 1px solid var(--guil-c-radio-color-border, var(--sds-c-radio-color-border, var(--guil-g-color-border-base-4, #c9c9c9)));
    border-radius: 50%;
    background: none;
    background-color: var(--guil-c-radio-color-background, var(--sds-c-radio-color-background, var(--guil-g-color-neutral-base-100, #fff)));
    -webkit-box-shadow: var(--guil-c-radio-shadow, var(--sds-c-radio-shadow));
    box-shadow: var(--guil-c-radio-shadow, var(--sds-c-radio-shadow));
    -webkit-transition: border .1s linear, background-color .1s linear;
    transition:border .1s linear, background-color .1s linear
}

.guil-radio--button .guil-radio_faux, .guil-radio_button .guil-radio--faux, .guil-radio_button .guil-radio_faux {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align:middle
}


.guil-radio--button + .guil-radio_button, .guil-radio_button + .guil-radio--button, .guil-radio_button + .guil-radio_button {
    border-left: 1px solid var(--guil-g-color-border-base-4, #e5e5e5);
    margin:0
}

.guil-radio_button [type=radio] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position:absolute
}

.guil-radio--button [type=radio]:checked + .guil-radio_faux, .guil-radio--button [type=radio]:checked ~ .guil-radio--faux, .guil-radio--button [type=radio]:checked ~ .guil-radio_faux, .guil-radio_button [type=radio]:checked + .guil-radio--button__label, .guil-radio_button [type=radio]:checked + .guil-radio--faux, .guil-radio_button [type=radio]:checked + .guil-radio_button__label, .guil-radio_button [type=radio]:checked + .guil-radio_faux, .guil-radio_button [type=radio]:checked ~ .guil-radio--faux, .guil-radio_button [type=radio]:checked ~ .guil-radio_faux {
    background-color: #0176d3;
    color:var(--guil-g-color-neutral-base-100, #fff)
}

.guil-radio_button__label {
    background-color:var(--guil-g-color-neutral-base-100, #fff)
}

.guil-radio_button__label:focus, .guil-radio_button__label:hover {
    cursor:pointer
}



html {
    font-size:10pt;
}



.border-width, .shadow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:1rem
}

.grid_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    background-color: green;
    padding: 10px;
}

.small_btn {
    width: 100%;
    height: 50px;
}

.big_btn {
    width: 100%;
    height: 50px;
}

#second {
    border: 1px solid black;
    border-radius: 5px;
    height: 90vh;
    width: 50%;
    margin-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas: "button1 button2 button3"
                         "button4 button5 button5";
    grid-gap: 5px;
}

.grid-item:nth-child(1) {
    grid-area: button1;
}

.grid-item:nth-child(2) {
    grid-area: button2;
}

.grid-item:nth-child(3) {
    grid-area: button3;
}

.grid-item:nth-child(4) {
    grid-area: button4;
}

.grid-item:nth-child(5) {
    grid-area: button5;
}

.border-radius {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr var(--sds-g-sizing-9);
    gap:1rem;
}

.border-radius [data-value], .border-width [data-value], .shadow [data-value] {
    background: var(--sds-g-color-surface-container-1);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .125rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: var(--sds-g-font-scale-neg-3);
    font-family: var(--sds-g-font-family-monospace);
    aspect-ratio:var(--sds-g-ratio-square)
}
