<!DOCTYPE html>
<!-- Template by Guildfoss.com -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href = {{ url_for('static', filename='style.css') }} media="screen"/>
  <link rel="stylesheet" href = {{ url_for('static', filename='print.css') }} media="print"/>

  <title>elecTrek</title>
</head>
<body>
  <div id="nav" class="innertube">
  <h1>Map Data </h1>
  {% for x,y in context.formdata.items() %}
  		<ul> {{ x }} : {{ y }} </ul>
  {% endfor %}
  </div>
  {% block body %}

  {% endblock %}
</body>


</html>
