{% extends "Dash0.html" %}

{% block data %}
<div id="datawin" class="innertube">

	    <table id="candidates-table">
				<thead>
	      <tr>
				<th class="c1" >?</th>
	      <th class="c1" >CC</th>
				<th class="c1">Areaname</th>
				<th class="c1" >Constituency</th>
				<th class="c1">Candidate</th>

	    </tr>
	      </thead>
				<tbody style="height: 70px">
					{% for index,row in context.group.iterrows() %}
	      <tr>
					<td>
						<input type="checkbox" id="selectRow1" name="selectRow[]" value="1" class="selectRow">
						<label for="selectRow1" class="visually-hidden"></label>
					</td>
	        <td class="c1">{{ row['No'] }}</td>
					<td class="c1">{{ row['Area'] }}</td>
					<td class="c1">{{ row['Constituency'] }}</td>
					<td class="c1">{{ row['Candidate'] }}</td>


	      </tr>
	      {% endfor %}
			</tbody>
	    </table>

</div>
{% endblock data %}
