{% extends "base.html" %}
{% block body %}

		<title>V3.3 electtrek canvassing</title>

	<div id="header">
    <h1>Postal and Non Postal Vote Canvass Cards </h1>
		<span>
			<b>Ward: {{ prodstats['wards'] }} ,</b>
		</span>
		<span>
    	<b>Polling District: {{ prodstats['PDs'] }} ,</b
    </span>
    <span>
    	<b>Electors:</b>
    	<b>{{ prodstats['groupelectors'] }} ,</b>
    </span>
    <span>
    	<b>Houses:</b>
    	<b>{{ prodstats['houses'] }} ,</b>
    </span>
    <span>
    	<b>Streets:</b>
    	<b>{{ prodstats['streets'] }} ,</b>
    </span>
    <span>
        <b>Climb(m):</b>
    		<b>{{ prodstats['climb'] }} ,</b>
    </span>
    <span>
        <b>Housing Density (UKAv=1.97):</b>
    		<b>{{ prodstats['housedensity'] }} ,</b>
    </span>
    <span>
        <b>Leafleting Time:</b>
    		<b>{{ prodstats['leafhrs'] | round | int }}hrs {{ (prodstats['leafhrs']%1*60) | round | int }}mins ,</b>
    </span>
    <span>
        <b>Canvassing Time:</b>
    		<b>{{ prodstats['canvasshrs'] | round | int }}hrs {{ (prodstats['leafhrs']%1*60) | round | int }}mins.</b>
    </span>
    <span>
    <b>Please collect the data below and upload data for area overview.</b>
    </span>

		<button type="button" id="save-btn" onclick="layerUpdate('{{ datafile }}');" style="font-size: 12pt;color: gray;">SAVE</button>
      <button id="Show_the_Walk_Map">
        <label class="guil-action_button" for="Show_the_Walk_Map"  >
          <a href= {{ mapfile }} >WALKMAP</a>
        </label>
      </button>

		</div>


	</div>

	<div class="form-popup" id="myForm">
	<!--    <form action="/action_page.php" class="form-container">-->

			<form action="mailto:surrey@reformuk.com?subject={{walkname}}" method="GET" enctype="text/plain">
		Subject:<br>
			<input type="text" name="subject" placeholder="{{walkname}}"><br>
			Email:<br>
			<input type="email" name="sender" placeholder="surrey@reformuk.com"><br>
			Message:<br>
			<input name="body" rows="3" cols="30" placeholder="Your Message"></input><br>
			<input type="submit" value="Send">
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>

	</div>
	<div id="main" style="page-break-before: always;">
	    <table id="canvass-table">
				<thead>
					<tr><th colspan='10' style='font-weight: bold;font-size: 9pt;text-align: center;border-left: 0px;border-right: 0px;border-top: 0px;'> I am calling on behalf of {{ prodstats['candfirst'] }} {{ prodstats['candsurn'] }}, your Reform candidate in the {{ prodstats['constituency'] }}
 			 		constituency by-election on {{ prodstats['electiondate'] }}. Did you support Reform in the General Election, and will you support {{ prodstats['candfirst'] }}? <br>
 			 		PLEASE DO NOT SAY “I’m sorry to bother you”.</th>
				 </tr>
	      <tr>
	      <th class="c1" colspan='3' >Elector</th>
				<th class="centred" colspan='3'>Address</th>
				<th class="c8">A.V.</th>
	      <th class="coded">V.I.</th>
	      <th class="c10">Notes</th>
	    </tr>

	      </thead>
				<tbody>
					{% for index,row in group.iterrows() %}
	      <tr>
	        <td class="c1">{{ row['WalkName'] }}</td>
	        <td class="c2">{{ row['ENOP'] }}</td>
					<td class="c3">{{ row['ElectorName'] }}</td>
					{% if row['AddressPrefix'] |string != "nan" and row['AddressNumber'] |string|length  %}
	           <td class="righted">{{ row['AddressPrefix'] | replace('nan', '') }}, {{row['AddressNumber'] | int }}</td>
	        {% else %}
	          {% if row['AddressNumber'] |string|length %}
	            <td class="righted">{{ row['AddressNumber'] |string }}</td>
	          {% else %}
	            <td class="righted">{{ row['AddressPrefix'] }}</td>
	          {% endif %}
	        {% endif %}
	        <td class="righted">{{ row['StreetName'] }}</td>
	        <td class="righted">{{ row['Postcode'] }}</td>
					<td class="AV"><span>{{ row['AV'] | replace('nan', '') }}  </span></td>

	       	<td class="centred"><span> <input type="text" placeholder= "{{ row['VI'] | replace('nan', '') }}" onchange="inputVI(this)" maclength="2" size="2" name={{"example-unique-id-A" ~ row['ENOP']}} id={{"example-unique-id-E" ~ row['ENOP']}} />
				    </span></td>
	        <td class="NS" ><span>
						<input type="text" placeholder= "{{ row['Notes'] | replace('nan', '') }}" onchange="inputNS(this)" onchange="inputNS(this)" name={{"example-unique-id-A" ~ row['ENOP']}} id={{"example-unique-id-F" ~ row['ENOP']}} />
	        {{ row['Notes'] }}
	          </span>
	        </td>
	      </tr>
	      {% endfor %}
			</tbody>
			<tfoot>
						<tr>  <td colspan='10' style="font-weight: bold;font-size: 9pt;text-align: center; border-left: 0px;border-right: 0px;border-bottom: 0px;">
							VI Box:  R=Reform   |   Z=Maybe   I   C=Conservative  |  S=Labour (Socialists)  |  W=Won’t vote  |  X=Won’t say <br>
							Notes Box:  How did they vote in the last election?   (cont.  LD=Lib Dems   |   G=Green   |   I=Independent) <br>
							Promoted by ReformUK, 124 City Road, London, EC1V 2NX | For ReformUK authorised users only | Personal Data - Destroy after use</td>
						</tr>
			</tfoot>
	    </table>
</div>

{% endblock %}
