{% extends "base.html" %}
{% block body %}

<base target="_self">
  <div id="mapwin" class="innertube">
			<h1>elecTrek - The Canvassing App</h1>
      <h1>Welcome to your dashboard, {{ session['username'] }}</h1>
    <iframe name="iframe1" src="{{ context.mapfile }}" width="1200" height="800" onload="updateMessages()">  </iframe>
	</div>

			<div id="nav" class="innertube">

        <h1>Map Data </h1>
        {% for x,y in context.formdata.items() %}
        		<ul> {{ x }} : {{ y }} </ul>
        {% endfor %}

			<h2>Generate Walks</h2>

				<form id="normal-file" action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data">
					<input type="text" name="candfirst" placeholder=" {{ context.formdata['candfirst']}} "/>
					<input type="text" name="candsurn" placeholder= " {{ context.formdata['candsurn']}} "/>
					<input type="text" name="electiondate" placeholder= " {{ context.formdata['electiondate']}} "/>
					<input type="file" name="importfile" placeholder= " {{ context.formdata['filename']}} "/>
		      <input type="submit" value="Normalise" class="btn btn-norm" onclick="setActionForm('normalise')"/>
		      <input type="submit" value="ProduceWalks" class="btn btn-norm" onclick="setActionForm('produce')"/>
					<input type="submit" value="ProduceCanvasCards" class="btn btn-norm" onclick="setActionForm('canvass')"/>
					<input type="submit" value="ProduceLayerReport" class="btn btn-norm" onclick="setActionForm('layeritems')"/>
					<input type="text" name="postcodeentry" placeholder="e.g SA6 17HR"/>
					<input type="submit" value="PostcodeLookup" class="btn btn-norm" onclick="setActionForm('postcode')"/>
			  </form>

			</div>
			<div id="datawin" class="innertube">
				<h1>elecTrek Status Reports: </h1>
          <ul class="flashes" >
          {% for pessage in pessages %}
            <li> {{ pessage  }}</li>
          {% endfor %}
          </ul>

				{% for x in context.layernodelist %}
						<ul> {{ x.tagno | int}} | {{ x.value }} </ul>
				{% endfor %}


		</div>
	<script>
			    function setActionForm(action){
			      let form = document.getElementById("normal-file")
			      if (action === 'normalise') {
			          form.action = "{{url_for('normalise')}}";
			          form.method = 'POST';
			          document.body.style.cursor = 'wait'
			          form.submit();
			      } else if (action === 'produce') {
			          form.action = "{{url_for('walks')}}";
			          form.method = 'POST';
			          document.body.style.cursor = 'wait'
			          form.submit();
						} else if (action === 'canvass') {
								form.action = "{{url_for('cards')}}";
								form.method = 'POST';
								document.body.style.cursor = 'wait'
								form.submit();
						} else if (action === 'layeritems') {
								form.action = "{{url_for('layeritems')}}";
								form.method = 'GET';
								document.body.style.cursor = 'wait'
								form.submit();
						} else if (action === 'postcode') {
									form.action = "{{url_for('postcode')}}";
									form.method = 'POST';
									document.body.style.cursor = 'wait'
									form.submit();
                };
			    };

            // addEventListener support for IE8
          // Listen to message from child window

        const pessages = [];
        var pack = JSON.parse('{{ get_flashed_messages()|tojson|safe }}');

        for (let x in pack) {
          pessages.push(pack[x]);
        };

        var iframeEl = document.getElementsByName('iframe1');

        function bindEvent( element, eventName, eventHandler) {
           if (element.addEventListener){
               element.addEventListener(eventName, eventHandler, false);
           } else if (element.attachEvent) {
               element.attachEvent('on' + eventName, eventHandler);
           };
        };

        bindEvent( window, 'message', function (e) {
            pessages.pop();
            pessages.push(e.data);
            var ul = document.getElementById("datawin");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(pessages));
            ul.appendChild(li);
            alert("_____onmessage: "+e.data);

        });

        function updateMessages(){
          var ul = document.getElementById("datawin");
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(pessages));
          ul.appendChild(li);
          alert("_____onframeload:"+ul+li);
        };

	</script>

{% endblock %}
