<ul<!DOCTYPE html>
<!-- Template by Guildfoss.com -->
<html>
<style>
{% include electorwalkscss %}
</style>
	<head >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>ELECTTREK</title>

    <b><iframe src= {{ mapfull }}  height= "800" width = "1200" title="Walk Map"></iframe> </b>
		<div id="nav" class=innertube>
    <h1 >ELECTTREK</h1>

  	<h3>Walk Information</h3>

		<ul>
		<a>Constituency:</a>
		<a>{{ constituency}} </a>
		</ul>
		<ul>
		<a>Ward:</a>
		<a>{{ ward }} </a>
		</ul>
		<ul>
    <a>Polling District:</a>
    <a>{{ PD }} </a>
    </ul>
    <ul>
    <a>Walk:</a>
    <a>{{ dashboard['walk_name'].values[0] }} </a>
    </ul>
    <ul>
    <a>Electors:</a>
    <a>{{ dashboard['clusterelectors'].values[0] }} </a>
    </ul>
    <ul>
    <a>Houses:</a>
    <a>{{ dashboard['houses'].values[0] }} </a>
    </ul>
    <ul>
    <a>Streets:</a>
    <a>{{ dashboard['streets'].values[0] }} </a>
    </ul>
    <ul>
        <a>Area(sqm):</a>
    <a>{{ dashboard['areamsq'].values[0]|round|int }} </a>
    </ul>
    <ul>
        <a>Climb(m):</a>
    <a>{{ dashboard['climb'].values[0] }} </a>
    </ul>
    <ul>
        <a>Housing Density (UKAv=1.97):</a>
    <a>{{ dashboard['housedensity'].values[0] }} </a>
    </ul>
    <ul>
        <a>Leafleting Time:</a>
    <a>{{ dashboard['leafhrs'].values[0]|round|int }}hrs {{ (dashboard['leafhrs'].values[0]%1*60)|round|int }}mins</a>
    </ul>
    <ul>
        <a>Canvassing Time:</a>
    <a>{{ dashboard['canvasshrs'].values[0]|round|int }}hrs {{ (dashboard['canvasshrs'].values[0]%1*60)|round|int }}mins</a>
    </ul>
    <ul>
    <p>Please collect the data below and press save for an uploadable file of voter data</p>
    </ul>

    <ul>
      <button id="Show_the_Walk_Map">
        <label class="guil-radio_button__label" for="Show_the_Walk_Map"  >
          <a href= {{ mapfull }} >WALKMAP</a>
        </label>
      </button>
    </ul>
    <ul>
      <button id="Save_the_data" class="SAVE">
        <label class="guil-radio_button__label" for="Save_the_data" >
          <a class="guil-radio_faux">SAVE DATA</a>
        </label>
			</button>
		</ul>


	</div>
	</head>


	<div class="form-popup" id="myForm">
	<!--    <form action="/action_page.php" class="form-container">-->

			<form action="mailto:surrey@reformuk.com?subject={{walk_name}}" method="GET" enctype="text/plain">
		Subject:<br>
			<input type="text" name="subject" placeholder="{{walk_name}}"><br>
			Email:<br>
			<input type="email" name="sender" placeholder="surrey@reformuk.com"><br>
			Message:<br>
			<textarea name="body" rows="3" cols="30" placeholder="Your Message"></textarea><br>
			<input type="submit" value="Send">
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>

	</div>

	<body class=innertube>
	    <table>
	      <thead>
	      <tr>
	      <th class="c1">Ward</th>
	      <th class="c2">PD</th>
	      <th class="c3">Elector Number</th>
	      <th class="c4">No.</th>
				<th class="c5"><span>Name</span></th>
	      <th class="c5"><span>Street</span></th>
	      <th class="c6"><span>Postcode</span></th>
	      <th class="c7"><span>TEAM</span></th>
	      <th class="c8"><span>M1</span></th>
	      <th class="c8"><span>M2</span></th>
	      <th class="c8"><span>M3</span></th>
	      <th class="c8"><span>M4</span></th>
	      <th class="c8"><span>M5</span></th>
	      <th class="c8"><span>M6</span></th>
	      <th class="c8"><span>M7</span></th>
	      <th class="c9"><span>House Board</span></th>
	      <th class="c10"><span>PLEDGE</span></th>
	      <th class="c11"><span>Notes</span></th>
	    </tr>

	      </thead>
	      {% for index,row in group.iterrows() %}

	      <tr>
	        <td class="c1">{{ ward }}</td>
	        <td class="c2">{{ PD }}</td>
	        <td class="c3">{{ '{:.0f}'.format(row["ENO"]) }}</td>
					<td class="c2">{{ ElectorName }}</td>
	        {% if not row['AddressPrefix']  %}
	          <td class="c4">{{ row['AddressNumber'] }}</td>
	        {% else %}
	          {% if not row['AddressNumber'] %}
	            <td class="c4">{{ row['AddressPrefix'] }}</td>
	          {% else %}
	            <td class="c4">{{ row['AddressPrefix'] }}, {{row['AddressNumber'] }}</td>
	          {% endif %}
	        {% endif %}
	        <td class="c5"><span>{{ row['StreetName'] }}</span></td>
	        <td class="c6"><span>{{ row['Postcode'] }}</span></td>
	        <td class="c7"><span>{{ row['TEAM'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M1'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M2'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M3'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M4'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M5'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M6'] }}</span></td>
	        <td class="c8"><span><input type="radio" value"Y" />{{ row['M7'] }}</span></td>
	        <td class="c9"><span><input type="radio" value"Y" />{{ row['HB'] }}</span></td>
	              <td class="guil-radio_button-group">
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-A" ~ row['ENO']}} value="LAB" />
	                  <label class="guil-radio_button__label" for={{"example-unique-id-A" ~ row['ENO']}}>
	                    <div class="guil-radio_faux">LAB</div>
	                  </label>
	                </span>
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-B" ~ row['ENO']}}  value="LIB" />
	                  <label class="guil-radio_button__label" for={{"example-unique-id-B" ~ row['ENO']}} >
	                    <div class="guil-radio_faux">LIB</div>
	                  </label>
	                </span>
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-C" ~ row['ENO']}}  value="REF" />
	                  <label class="guil-radio_button__label" for={{"example-unique-id-C" ~ row['ENO']}} >
	                    <div class="guil-radio_faux">REF</div>
	                  </label>
	                </span>
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-D" ~ row['ENO']}}  value="CON" />
	                  <label class="guil-radio_button__label" for={{"example-unique-id-D" ~ row['ENO']}} >
	                    <div class="guil-radio_faux">CON</div>
	                  </label>
	                </span>
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-E" ~ row['ENO']}}   value="OTH" />
	                  <label class="guil-radio_button__label" for={{"example-unique-id-E" ~ row['ENO']}}  >
	                    <div class="guil-radio_faux">OTH</div>
	                  </label>
	                </span>
	                <span class="guil-button guil-radio_button">
	                  <input type="radio" name={{"example-unique-id-A" ~ row['ENO']}} id={{"example-unique-id-F" ~ row['ENO']}}   value="UNK" checked/>
	                  <label class="guil-radio_button__label" for={{"example-unique-id-F" ~ row['ENO']}}  >
	                    <div class="guil-radio_faux">UNK</div>
	                  </label>
	                </span>
	              </td>
	        <td class="guil-button guil-radio_button"><span>
	          {% if not row['Notes'] %}
	          <td class="c8"></td>
	          {% else %}
	          <td class="c8">{{ row['Notes'] }}</td>
	          {% endif %}
	          </span>
	        </td>
	      </tr>
	      {% endfor %}
			</tbody>
	    </table>


	<script>
	  {% include  electorwalksjs  %}
	</script>



</body>
</html>
