{% extends "base.html" %}
{% block report %}
  <title>Election Summary Report</title>
  <p>Map File: {{ mapfile }}</p>
  <br>
  <div id="mapwin2" class="innertube">
      <!-- Correctly quote the URL -->
      <iframe id="iframe2" src="{{ url_for('thru', path=mapfile) }}" width="1200" height="800" title="Election Map"></iframe>
  </div>

  <h2>Election Summary Report</h2>

  <table class="er-table">
  <colgroup>
    <col style="width:5%">
    <col style="width:25%">
    <col style="width:5%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:10%">
    <col style="width:25%">
  </colgroup>
    <thead>
      <tr>
        <th>Election</th>
        <th>Territory</th>
        <th>Election Date</th>
        <th>Candidate</th>
        <th>Campaign Manager</th>
        <th>Manager Email</th>
        <th>Incumbent Party</th>
      </tr>
    </thead>
    <tbody>
      {% for election in report_data %}
      <tr>
        <td>{{ election.name }}</td>
        <td>{{ election.territory }}</td>
        <td>{{ election.electiondate }}</td>
        <td>{{ election.candidate }}</td>  <!-- Display concatenated candidate name -->
        <td>{{ election.campaign_mgr }}</td>  <!-- Display concatenated campaign manager name -->
        <td>{{ election.campaignMgremail }}</td>
        <td>{{ election.incumbent_party }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock report %}
