<div>
    <table>
        <thead>
            <tr>
                <th>Street Name</th>
                <th>Total</th>
                <th>Unit</th>
                <th>VI</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.total }}</td>
                <td data-units="{{ row.unit|default('') }}"></td>
                <td>
                    <select onchange="updateMaxVote(this)">
                        {% for key, value in vid.items() %}
                        <option value="{{ key }}" data-max="{{ row.total }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button onclick="incrementVoteCount(this)" data-count="0" data-max="{{ row.total }}" style="font-size: 8pt;">0/{{ row.total }}</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
